@media (max-width: 1214px){

    .menusegundario{
        display: none;
    }

    .nomedapagina{
        display: none;
    }

    .container1{
        margin: 5px;
        margin-left: 0;
        margin-top: 25px;
    }

    .menu2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 720px){
    .menu{
        width: 400px;
        font-size: 18.5px;
    }
    .container1 h2{
        margin-left: 8px;
        text-align: center;
        margin-top: 25px;
    }
    .container1{
    text-align: center;
    }
}
